

$main-color:#fcf7fb;
$blue:#abc2ba;
$clear-coffee:#ffc5bb;
$beige:#d3b895;
$white-coffee:#90694a;
$dark-coffee:#352728;
$black:#101519;
$dark-blue:#1C252C;
$contact-btn:#DBAA69;
$border:.1rem solid $white-coffee;
$box-shadow:0 0 0.5rem #1C252C;